@model IEnumerable<PizzaBoxMVCClient.Models.User>

@{
    ViewData["Title"] = "Index";
}
<h1>Create New PizzaBox Account</h1>
<p>We are happy for you to join the PizzaBox family!</p>
<br />
<form method="post" asp-action="CreateUser" asp-controller="User">
    <label for="UserId">Choose ID #</label>
    <input type="number" id="UserId" name="UserId" />
    <br />
    <label for="userName">Name</label>
    <input type="text" id="userName" name="userName" />
    <br />
    <label for="userPhone">Phone Number</label>
    <input type="text" id="userPhone" name="userPhone" />
    <br />
    <input type="submit" value="Submit" />
</form>