@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PizzaBox</h1>
   
</div>

<br />
<a class="nav-link text-dark" asp-area="" asp-controller="Store" asp-action="Index">Look at Available stores</a>
<a class="nav-link text-dark" asp-area="" asp-controller="History" asp-action="Index">See your order history</a>

<a class="nav-link text-dark" asp-area="" asp-controller="Store" asp-action="GetOrders">See your store order history</a>

