@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Please choose your toppings</h1>
<h3>(Min. 2 and Max. 5 Toppings per Pizza) </h3>

<form method="post" asp-action="ChooseToppings">
    <label for="topping1">Choose Topping (*required)</label>
    <select id="topping1">
        <option value="Sauce">Sauce</option>
        <option value="Cheese">Cheese</option>
        <option value="Sausage">Sausage</option>
        <option value="Pepperoni">Pepperoni</option>
        <option value="Vegan Cheese">Vegan Cheese</option>
        <option value="Onions">Onions</option>
        <option value="Jalapenos">Jalapenos</option>
        <option value="Pineapple">Pineapple</option>
        <option value="Bacon">Bacon</option>
    </select>
    <label for="topping2">Choose Topping (*required)</label>
    <select id="topping2">
        <option value="Sauce">Sauce</option>
        <option value="Cheese">Cheese</option>
        <option value="Sausage">Sausage</option>
        <option value="Pepperoni">Pepperoni</option>
        <option value="Vegan Cheese">Vegan Cheese</option>
        <option value="Onions">Onions</option>
        <option value="Jalapenos">Jalapenos</option>
        <option value="Pineapple">Pineapple</option>
        <option value="Bacon">Bacon</option>
    </select>
    <label for="topping3">Choose Topping</label>
    <select id="topping3">
        <option value="None">None</option>
        <option value="Sauce">Sauce</option>
        <option value="Cheese">Cheese</option>
        <option value="Sausage">Sausage</option>
        <option value="Pepperoni">Pepperoni</option>
        <option value="Vegan Cheese">Vegan Cheese</option>
        <option value="Onions">Onions</option>
        <option value="Jalapenos">Jalapenos</option>
        <option value="Pineapple">Pineapple</option>
        <option value="Bacon">Bacon</option>
    </select>
    <label for="topping4">Choose Topping</label>
    <select id="topping4">
        <option value="None">None</option>
        <option value="Sauce">Sauce</option>
        <option value="Cheese">Cheese</option>
        <option value="Sausage">Sausage</option>
        <option value="Pepperoni">Pepperoni</option>
        <option value="Vegan Cheese">Vegan Cheese</option>
        <option value="Onions">Onions</option>
        <option value="Jalapenos">Jalapenos</option>
        <option value="Pineapple">Pineapple</option>
        <option value="Bacon">Bacon</option>
    </select>
    <label for="topping5">Choose Topping</label>
    <select id="topping5">
        <option value="Sauce">Sauce</option>
        <option value="Cheese">Cheese</option>
        <option value="Sausage">Sausage</option>
        <option value="Pepperoni">Pepperoni</option>
        <option value="Vegan Cheese">Vegan Cheese</option>
        <option value="Onions">Onions</option>
        <option value="Jalapenos">Jalapenos</option>
        <option value="Pineapple">Pineapple</option>
        <option value="Bacon">Bacon</option>
    </select>
    <input type="submit" value="SUBMIT" />
</form>