@model PizzaBoxMVCClient.Models.Order
<h1>Order a Pizza!</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div>

    <h4>Meat Pizza</h4>
    <form method="post" asp-action="Create" asp-controller="Order">

        <select id="userid" name="userid">
            <option value="123">Daniel</option>
            <option value="1234">Joey</option>
            <option value="288">Kate</option>
            <option value="366">Omar</option>
            <option value="12345">Barbie</option>
        </select>
        <select id="StoreName" name="StoreName">
            <option value="Los Angeles Pizza">Los Angeles Pizza</option>
            <option value="Brooklyn's Best Pizza">Brooklyn's Best Pizza</option>
            <option value="1">Manhattan Executive Pizza</option>
            <option value="2">Chicago Navy Pier Pizza</option>
            <option value="4">Chicago Wrigleyville Pizza</option>
        </select>
        <label for="UserName">Name</label>
        <input type="text" id="UserName" />
        <label for="summary">Special Requests</label>
        <input type="text" id="Summary" />
        <label for="size">Choose Size</label>
        <select id="size" name="size">
            <option value="3">12 Inch</option>
            <option value="1">14 Inch</option>
            <option value="5">16 Inch</option>
        </select>
        <label for="crust">Choose Crust</label>
        <select id="crust" name="crust">
            <option value="dd">Deep Dish</option>
            <option value="tc">Thin Crust</option>
            <option value="ny">NY Style</option>
        </select>

        <input type="submit" value="Add to Cart" />
    </form>
</div>

<div>
    <h4>Vegan Pizza</h4>
    <form method="post" asp-action="Create" asp-controller="Order">
        <select id="user" name="user">
            <option value="123">Daniel</option>
            <option value="1234">Joey</option>
            <option value="288">Kate</option>
            <option value="366">Omar</option>
            <option value="12345">Barbie</option>
        </select>
        <select id="store" name="store">
            <option value="5">Los Angeles Pizza</option>
            <option value="3">Brooklyn's Best Pizza</option>
            <option value="1">Manhattan Executive Pizza</option>
            <option value="2">Chicago Navy Pier Pizza</option>
            <option value="4">Chicago Wrigleyville Pizza</option>
        </select>
        <label for="UserName">Name</label>
        <input type="text" id="UserName" />
        <label for="summary">Special Requests</label>
        <input type="text" id="summary" />
        <label for="size">Choose Size</label>
        <select id="size" name="size">
            <option value="3">12 Inch</option>
            <option value="1">14 Inch</option>
            <option value="5">16 Inch</option>
        </select>
        <label for="crust">Choose Crust</label>
        <select id="crust" name="crust">
            <option value="dd">Deep Dish</option>
            <option value="tc">Thin Crust</option>
            <option value="ny">NY Style</option>
        </select>

        <input type="submit" value="Add To Cart" />
    </form>
</div>
<div>
    <h4>Custom Pizza</h4>
    <form method="post" asp-action="Create" asp-controller="Order">
        <select id="user" name="user">
            <option value="123">Daniel</option>
            <option value="1234">Joey</option>
            <option value="288">Kate</option>
            <option value="366">Omar</option>
            <option value="12345">Barbie</option>
        </select>
        <select id="store" name="store">
            <option value="5">Los Angeles Pizza</option>
            <option value="3">Brooklyn's Best Pizza</option>
            <option value="1">Manhattan Executive Pizza</option>
            <option value="2">Chicago Navy Pier Pizza</option>
            <option value="4">Chicago Wrigleyville Pizza</option>
        </select>
        <label for="UserName">Name</label>
        <input type="text" id="UserName" />
        <label for="summary">Choose 2-5 Toppings</label>
        <input type="text" id="summary" />
        <label for="size">Choose Size</label>
        <select id="size" name="size">
            <option value="3">12 Inch</option>
            <option value="1">14 Inch</option>
            <option value="5">16 Inch</option>
        </select>
        <label for="crust">Choose Crust</label>
        <select id="crust" name="crust">
            <option value="dd">Deep Dish</option>
            <option value="tc">Thin Crust</option>
            <option value="ny">NY Style</option>
        </select>

        <input type="submit" value="Add To Cart" />
    </form>
</div>

