@model PizzaBoxMVCClient.Models.Order
<h1>Order a Pizza!</h1>


<div>

    
    <form method="post" asp-action="Create" asp-controller="Order">
        <table style="width:90%">
            <tr>
                <td>User ID</td>
                <td>Store</td>
                <td>Summary</td>
            </tr>
            <tr>
                <td>
                   
                    <input type="text" id="userID" name="userID" />
                </td>
                <td>
                    <select id="StoreId" name="StoreId">
                        <option value="0">Los Angeles Pizza</option>
                        <option value="1">Brooklyn's Best Pizza</option>
                        <option value="2">Manhattan Executive Pizza</option>
                        <option value="3">Chicago Navy Pier Pizza</option>
                        <option value="4">Chicago Wrigleyville Pizza</option>
                    </select>
                </td>
                <td>
                    <input type="text" id="Summary" name="Summary" />
                </td>
            </tr>

        </table>
        <br />
        <input type="submit" value="Order" />
    </form>
</div>
<br />
<div>
    <table style="width:40%">
        <tr>
            <th>Crust Styles</th>
        </tr>
        <tr>
            <td>Thin Crust</td>
        </tr>
        <tr>
            <td>Deep Dish</td>
        </tr>
        <tr>
            <td>NY Style</td>
        </tr>
    </table>
    <br />
    <table style="width:40%">
        <tr>
            <th>Pizza Sizes</th>
        </tr>
        <tr>
            <td>12 Inch</td>
        </tr>
        <tr>
            <td>14 Inch</td>
        </tr>
        <tr>
            <td>16 Inch</td>
        </tr>
    </table>
    <br />
    <table style="width:40%">
        <tr>
            <th>Toppings (Choose 2-5)</th>
        </tr>
        <tr>
            <td>Bacon</td>
        </tr>
        <tr>
            <td>Cheese</td>
        </tr>
        <tr>
            <td>Sausage</td>
        </tr>
        <tr>
            <td>Pepperoni</td>
        </tr>
        <tr>
            <td>Onions</td>
        </tr>
        <tr>
            <td>Jalapenos</td>
        </tr>
        <tr>
            <td>Vegan Cheese</td>
        </tr>
        <tr>
            <td>Sauce</td>
        </tr>
        <tr>
            <td>Olives</td>
        </tr>
    </table>
</div>

