@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Please enter your User ID</h1>
<form method="post" asp-action="Index" asp-controller="Store">
    <input type="text" id="UserID" name="UserID"/>
    <input type="submit" value="Start Order" />
</form>
