
@model List<PizzaBoxMVCClient.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Order Index</h1>

<div class="row pt-4">
    <div class="col-6"><h2 class="text-primary">Make an Order</h2>
        </div>
<div class="col-6">Make an order
    </div>
</div>
<br />




<table class="table">
    <thead>
        <tr>
            <th>
                Summary
            </th>
            <th>
                Customer ID
            </th>
           
            <th>
                # of Pizzas
            </th>
            <th>
                Order Date
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Summary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Pizzas.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeReceived)            
                </td>
            </tr>
        }
    </tbody>
</table>
