@model IEnumerable<PizzaBoxMVCClient.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>See Your Past Orders!</h1>
<p>PizzaBox appreciates your past and future pizza orders. </p>
<br />
<form method="get" asp-action="GetCustOrders" asp-controller="History">
    <input type="number" id="id" name="id"/>
</form>

